@media (min-width: 768px) {

    .logo {
        width: 250px;
        max-width: unset;
    }

    #app {
        padding-top:35px;
        background-color: white;
    }

    .recipes-list {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }

}